*.pyc
TODO
doc/doxygen-1.7.3
doc/html/
popcon-data.tgz
popcon-data/
psql-out
udd-import.log
udd.sql.gz
*.log
.vagrant/
*.swp
apprecommender.egg-info/
apprecommender/tests/test_data/.sample_axi/
apprecommender/tests/test_data/.sample_axi/
apprecommender/web/submissions/
.travis.yml.container
