language: python
python:
  - "2.7"

addons:
  apt:
    packages:
      - python-xapian
      - python-apt
      - python-cluster
      - python-webpy
      - python-simplejson
      - python-numpy
      - apt-xapian-index
      - python-xdg debtags
      - python-pip
      - python-sklearn
      - python-nltk
      - python-matplotlib

install: 
  - update-apt-xanpian-index
  - python -m nltk.downloader stopwords
  - python -m nltk.downloader punkt

script:
  - python setup.py tests
