/*
	http://www.debian.org Homepage Stylesheet

	Copyright 2011 Kalle Söderman

	This stylesheet is free software; you can redistribute it and/or modify it
	under the terms of the GNU General Public License, version 2, as published by
	the Free Software Foundation.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY
	WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
	PARTICULAR PURPOSE. See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with
	this program; if not, write to the Free Software Foundation, Inc., 51 Franklin
	Street, Fifth Floor, Boston, MA 02110-1301 USA.

	The license text can also be found at http://www.gnu.org/copyleft/gpl.html and
	/usr/share/common-licenses/GPL-2 on Debian GNU/Linux.  
*/

@import url("debian.css");

#splash {
	margin-top: 0;
	margin-bottom: 1.5em;
	text-align: center;
	overflow: hidden;
	height: 120px;
}
#splash h1 {
	background-image: url('Pics/spacefun.png');
	background-position:top center;
	padding-top:130px;
	overflow:hidden;
	text-align:center;
	background-repeat:no-repeat;
	display:block;
	margin:0;
	height:0;
}
span.download {
	display: block;
	position: absolute;
	right: 13px;
	font-size: 0.75em;
	line-height: 2;
	background-color: white;
	margin-top: 10px;
}
span.download a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	border: 0.15em solid #339900;
	display: block;
	background: transparent url('Pics/emblem-downloads.png') no-repeat 5px 5px; 
	padding-left: 30px;
	padding-right: 1em;
	color:#339900;
}
span.download a:hover {
	text-decoration: none;
	color: white;
	background-color: #339900;
}
span.download a em {
	font-size: 0.75em;
	font-weight: normal;
	clear: right;
	color: #339900;
	line-height: 0.5em;
	font-style: normal;
	display: block;
	margin-bottom: 1em;
}
span.download a:hover em {
	color: white; 
	background-color: #339900;
}
#content {
	background-image: url('Pics/spacefun-bg.png');
	background-position:top center;
	background-repeat: repeat-x;
}
#announce {
	text-align: center;
	float: left;
	width: 41%;
	min-width: 260px;
	margin-bottom: 1.5em;
}
#intro {
	padding-top: 0;
}
#intro p {
	margin-top: 0em;
	padding:0;
}

/* Homepage Links */

#hometoc {
	list-style:none;
	margin: 0 0 2em 0;
	padding: 0;
	width:100%;
	font-size: 0.75em;
	overflow: hidden;
	line-height: 1.5em;
	border: 0;
}
#hometoc a {
	text-decoration: none;
}
#hometoc a:hover {
	text-decoration: underline;
}
ul#hometoc-cola a, ul#hometoc-colb a, ul#hometoc-colc a, ul#hometoc-cold a, ul#hometoc-cole a {
	padding-left: 5px;
        display: block;
}
ul#hometoc-cola, ul#hometoc-colb,ul#hometoc-colc, ul#hometoc-cold, ul#hometoc-cole {
	float:left;
	width: 19.2%;
	min-width: 11em;
	height: 12em; 		/* Update when adding items */
	margin:0 1% 0 0;
	padding: 0;
	background-position: bottom left;
	background-repeat: repeat-x; 
	background-image: url('Pics/reddot.png');
	list-style: none;
}
ul#hometoc-cole {
	width: 18.9%;
	margin-right:0;
}
#hometoc-wrap {
	padding:1em 1em 1em 1em;
	border-top: 1px solid white;
}
#hometoc a {
	margin: 0;
}
#hometoc ul{
	list-style: none;
	padding: 0 0 0 0;
}
#hometoc ul ul {
	padding: 0;
}
#hometoc li {
	text-indent:0;
	background-color: transparent;
	font-weight:bold;
}
#hometoc li ul {
	margin: 0;
	padding: 0;
}
#hometoc li li {
	margin:0;
	text-indent:0;
	padding:0;
	font-weight:normal;
	border:0;
	background-image:none;
	background-color:transparent;
}
li.sponsorbutton {
	padding-top: 1.25em;
	text-align: left;
	display: block;
	width: 100%;
	background-image: url('/Pics/greydot.png');
	background-position:top left;
	background-repeat: repeat-x;
}
.infobar {
	margin: 0 0 2em 0;
	padding: 0 0 2em 0;
	line-height: 1em;
	font-size: 0.75em;
	background-image: url('Pics/greydot.png');
	background-position: bottom left;
	background-repeat: repeat-x;
	clear: both;
}
div.trans-note {
	position: absolute;
	top: 200px;
	right: 10px;
	left: 52px;
	margin: 0;
	background-position: 0.5em 2px;
	background-image: none;
	padding: 0em;
	padding-left: 1em;
}
div.trans-note p {
	margin:0;
}
