$var title: About
$var url_base: /
$var mod = 'about';
$var action: RECOMMENDATION
$var cssfiles: static/css/facebox.css
$var jsfiles: static/js/facebox.js

<script type="text/javascript">
    $$(document).ready(function() {
        $$('a[rel*=facebox]').facebox({
        loadingImage : 'static/images/loading.gif',
        closeImage   : 'static/images/closelabel.png'
        });
    });
</script>

<div id="maincontent">
<div class="innertube">

<h1>AppRecommender</h1>
<h2>About</h2>

<p align="justify"><a href="http://github.com/tassia/AppRecommender">AppRecommender</a>
is a free recommender system for GNU/Linux applications developed as part of a
Master's project. It was initially developed using the Debian Project
infrasctructure, but the solution is essentially distro-independent and can
be adapted to other environments given that there is available data sources for
computing recommendations.</p>

<a rel="facebox" href="static/images/apprec.png" title="AppRecommender Diagram">
<img style="float: right; margin: 10px;" alt="AppRecommender dataflow"
src="static/images/apprec.png" width="230px" /></a>
<br />

<p align="justify">The picture on the right gives an idea of the data workflow
for AppRecommender. The user provides a set of applications installed in her/his
system and the recommender suggests a set of programs that she/he might also
be interested in, based on the profile deduced from the his previous choices
and other similar users choices. The recommendations are composed using
classification and information retrieval techniques using
<a href="http://wiki.debian.org/Debtags">debtags</a>,
<a href="http://www.enricozini.org/sw/apt-xapian-index/">apt-xapian-index</a>,
<a href="http://popcon.debian.org/">Popcon</a> and <a
href="http://udd.debian.org/">UDD</a> as data sources.</p>

</div><!-- id="innertube" -->
</div><!-- id="maincontent" -->
