
/*
 * Result Recommendation
 */
 
#result-thumbnail .item { 
display: block;
width: 190px;
height: 200px;
overflow: hidden;
float: left;
text-align: center;
}

#result-thumbnail .item:hover { 
background-color: #dfdfdf;
}

#result-thumbnail .item h3 {
margin: 5px;
padding: 0px;
color: gray;
}

