
/*
 * Result Recommendation
 */
 
#result-thumbnail .item { 
display: block;
width: 190px;
height: 200px;
overflow: hidden;
float: left;
text-align: center;
border-radius: 5px;
}

#result-thumbnail .item:hover { 
background-color: #dfdfdf;
}

#result-thumbnail .item h3 {
margin: 5px;
padding: 0px;
color: gray;
}


a.link-thumb img {
height: 100px;
margin: 5px;
border-radius: 4px;
box-shadow: 0 1px 2px gray;
}



/*
 * Package Box
 */

#title_pkg {
font-weight: bold;
}

#title_pkg span {
color: gray;
font-style:italic;
font-weight: normal;
font-size: 0.8em;
}

#voting_box {
margin-top: 20px;
}

#debtags_box { 
display: block;
float: right;
width: 150px;
font-size: 0.8em;
}

#debtags_box h2 {
font-weight: bold;
}

#debtags_pkg ul { 
padding: 3px;
}

#debtags_pkg li { 
font-weight: bold;
cursor: pointer;
}

#debtags_pkg li ul li { 
font-weight: normal;
margin-left: 5px;
border-left: 1px solid white;
border-bottom: 1px solid white;
cursor: pointer;
}

#debresources_box { 
float: left;
margin-top: 20px;
}

#debresources_box li {
margin-bottom: 4px;
}

/* Details BOX */

#details_box {
margin-top: 50px;
padding: 20px;
font-size: 0.8;
color: #545454;
}

#details_box h2 {
margin: -5px 0 15px 0px;
color: #000;
}

#details_box li {
margin-bottom: 10px;
}

