.quimby_box {
  background: #EBEFF9 url(chrome://quimby/skin/bottom-left.gif) no-repeat left bottom;
}

.quimby_box-outer {
  background: url(chrome://quimby/skin/bottom-right.gif) no-repeat right bottom;
  padding-bottom: 15px;
}

.quimby_box-inner {
  background: url(chrome://quimby/skin/top-left.gif) no-repeat left top;
}

.quimby_box-header {
  background: url(chrome://quimby/skin/top-right.gif) no-repeat right top;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.quimby_search {
  background: url(chrome://quimby/skin/btn_normal.png) no-repeat scroll 0 0 transparent!important;
  background-position: 5px 5px!important;
}
.quimby_search:hover {
  background: url(chrome://quimby/skin/btn_hover.png) no-repeat scroll 0 0 transparent!important;
}
.quimby_search:active {
  background: url(chrome://quimby/skin/btn_hover.png) no-repeat scroll 0 0 transparent!important;
  background-position: 1px 1px!important;
}
