/*
	AppRecommender Stylesheet

	Copyright 2011 Tássia Camões, Tiago Vaz and Valessio Brito

	This stylesheet is free software; you can redistribute it and/or modify it
	under the terms of the GNU General Public License, version 2, as published by
	the Free Software Foundation.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY
	WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
	PARTICULAR PURPOSE. See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with
	this program; if not, write to the Free Software Foundation, Inc., 51 Franklin
	Street, Fifth Floor, Boston, MA 02110-1301 USA.

	The license text can also be found at http://www.gnu.org/copyleft/gpl.html
*/

/* Reset */
 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td { 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body            { line-height: 1; color: black; background: white; }
ol, ul          { list-style: none; }
table           { border-collapse: separate; border-spacing: 0; }
blockquote, q   { quotes: "" ""; }
html            { background-color: transparent; }
:focus          { outline: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }



/*
 * Layout, font, size.. colors..
 */

body{
font-family: 'Cantarell', Arial, Verdana, sans-serif;
font-size: 0.9em;
line-height: 1.1;
font-weight: normal;
background-image: url('../images/pattern.gif');
}

#wrap {
position:relative;
min-width: 470px;
max-width: 960px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
background-color: white;
}

#header {
padding: 15px;
}

#navbar { 
list-style: none;
height: 20px;
width: 100%;
padding:0;
margin:0;
border: 1px solid gray;
}

#navbar li { 
display: inline;
}


#navbar li a { 
color: black; 
float: left; 
display: block;
font-size: 1.0em;
padding: 4px 10px; 
margin-left: -1px; 
position: relative; 
left: 1px; 
text-decoration: none;
}


#sidebar {
width: 300px;
min-height: 400px;
margin-bottom: 40px;
float: right;
}

#maincontent {
}

.innertube {
margin: 15px;
}

#footer {
clear: both;
display: block;
color: gray;
font-size: 0.8em;
text-align: center;
padding: 20px;
}


/* Links */

a:link {
color: #0035c7;
text-decoration: none;
}
a:visited {
color: #54638c;
}
a:link:hover {
text-decoration: none;
color: #00207a;
}
a:visited:hover {
text-decoration: none;
}
a:active {
color:#c2c3c7;
}
a img {
border:0;
}

/* Titles and subtitles */

h1
, h2
, h3
, h4
, h5
, h6 {
font-family: 'Cherry Cream Soda', Verdana, Arial, sans-serif;
font-weight: 600;
color: black;
}
h1 {
font-weight: normal;
font-size: 1.8em;
line-height: 0.43333;
margin: 0.83333em 0 0.83333em 0;
}
h2 {
font-size: 1.4em;
font-weight: normal;
line-height: 0.5714286;
margin: 1.0714286em 0 1.0714286em 0;
}
h3 {
font-size: 1.125em;
line-height: 0.733em;
margin: 1.333em 0 1.333em 0;
}
h3 {
font-size: 1em;
line-height: 0.8;
margin: 1.5em 0 1.5em 0;
font-weight: bold;
}
h4 {
font-weight: normal;
font-style: italic;
margin: 1.5em 0 1.5em 0;
color: #444;
}
h5 {
font-style: italic;
font-size: 0.75em;
margin: 2em 0 2em 0;
}
pre {
margin: 1.5em 0 1.5em 0;
overflow: auto;
font-family: monospace;
white-space: pre;
color: black;
}
tt, code {
font-family: monospace;
color: black;
}
code {
white-space: pre;
padding: 0.5em;
display: block;
background-color: #f5f6f7;
border: 0.1em solid #d2d3d7 ;
overflow: auto;
}
tt {
margin: 0;
padding:0;
}


/* Tip */
div.tip
, div.important
, div.warning
, div.note 
, div.trans-note {
padding:0 2em 0 4em;
margin: 1.85em 0 1.85em 0;
background-repeat: no-repeat;
background-position: 0.5em 0.5em;
font-size: 0.75em;
line-height: 2em;
background-color:#FFFFCB;
border:0.15em solid #CCCCA3;
}
div.tip p
, div.important p
, div.warning p
, div.note p 
, div.trans-note p {
margin: 1em 0 1em 0;
}
div.tip {
background-image: url('../images/admon-tip.png');
}
div.important{
background-image: url('../images/admon-important.png');
}
div.warning {
background-image: url('../images/admon-warning.png');
}
div.note
, div.trans-note  {
background-image: url('../images/admon-note.png');
}
#recommender-box { 
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
width: 560px;
position: relative;
vertical-align: top;
}
#recommender-box label {
font-size: 1.3em;
}
#recommender-box #upfile {
width: 22px;
height: 22px;
float: right;
display: block; 
background:url('/static/images/upload.png') no-repeat; 
cursor:pointer;  
margin: 0;
padding: 0;
position: absolute;
right: 0px;
top: 2px;
z-index: 1;
}
#pkgs_list, #input-box {
position: relative;
width: 410px;
}
#pkgs_list {
font-size: 13px;
font-family: Arial, Verdana, Sans-serif;
color: gray;
}

#pkgs_list:hover, #pkgs_list:active, #pkgs_list:focus {
color: black;
}

#submit-box {
float: right;
display: block;
width: 135px;
}

#submit-box input {
font-size: 14px;
margin: 5px;
}



