/* debshots style sheet */
/* Yahoo's CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/*-----------------------------------------*/
body {
    font-family: sans-serif;
    font-size: 11pt;
    background-color: #ebedef;
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid #d0d0d0;
    vertical-align: top;
    padding: 2px 2px;
}

td.noborder {
    border: none;
}

th {
    border: 1px solid #d0d0d0;
    background-color: #404040;
    color: #ffffff;
    padding: 0.2em 0.5em;
}

fieldset {
    border: 1px solid #a0a0a0;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0 0.5em 0;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    background-color: #f0f0f0;
}

legend {
    border: 1px solid #a0a0a0;
    background-color: #f0f0f0;
}

input, textarea {
    border: 1px solid #a0a0a0;
}

input:focus, textarea:focus {
    border: 1px solid #c70036;
}

em {
    font-style: italic;
}

ul {
    list-style: square;
    padding-left: 1em;
    /*color: #909090;*/
}

li {
    padding-bottom: .2em;
}

h1 {
    font-size: 150%;
    margin: 0.5em 0 0.5em 0;
    color: #757575;
    font-weight: bolder;
}

h1.huge {
    font-size: 200%;
}

h2 {
    font-size: 120%;
    margin: 1em 0 0.4em 0;
    color: #c70036;
}

h3 {
    font-size: 120%;
    margin: 1em 0 0.2em 0;
}

#page {
    background-color: #ffffff;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    margin-top: 0.5em;
    padding-bottom: 10px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#maincontent {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 0.7em 4em 0.2em 4em;
}

#header {
    /*background-color: #000000;*/
    background: repeat-x url(/static/images/logo-gray-gradient.png);
    color: #f0f0f0;
    padding: 0.7em 4em 0.2em 4em;
    /*margin-bottom: 1em;*/
    white-space: nowrap;
    /*border-bottom: 1em solid #c70036;*/
}

/* Navigation bar below the header */
#nav {
    /*background-color: #e6e6e6;*/
    /*border-bottom: 1px solid #000;*/
    padding: 0.1em 4em;
    background-color: #c70036;
    color: #ffffff;
    font-weight: bolder;
/*     width: 980px; */
}

#nav a {
    color: #ffffff;
    text-decoration: none;
}

#headernav {
    margin: 0.5em 0 0 0;
    padding: 0;
}

/* Kasten mit Text */
.textbox {
    float: left;
    width: 25em;
    margin: 0 3em 0.5em 0;
}

/* Kasten mit grauem Hintergrund */
.graybox {
    background-color: #e6e6e6;
    padding: 0.5em 1em;
    margin: 1em 0;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}

#footer {
    color: #808080;
    padding: 0.2em 4em 0.2em 4em;
    text-align: center;
    clear: both;
    margin-top: 1em;
    font-size: 80%;
}

p {
    /*color: #909090;*/
    margin: 0.3em 0em 0.5em 0;
    padding: 0 0 0 0;
    line-height: 1.4em;
}

pre {
    background-color: #f0f0f0;
}

a, a:visited {
    color: #000000;
    border-bottom: 1px dashed #b0b0b0;
    text-decoration: none;
}

/* Do not display a border if the link contains an image */
a.image, a.image:hover {
    border: none;
    /*background-color: #ffffff;*/
    text-decoration: none;
}

/* Name of a package */
.namelink {
    font-weight: bolder;
    background-color: #E6E6E6;
}

.warning {
    color: red;
    font-weight: bolder;
}

.error-message {
    color: red;
}

.ok {
    color: green;
    font-weight: bolder;
}

/* Highlighting debtags and its facets */
.facet {
    font-weight: bolder;
}

.debtag {
    background-color: #d0d0d0;
    margin-right: 0.5em;
}

/* Red box for HTTP errors (40x) */
.error-border {
    border: 1em solid red;
    padding: 1em;
    margin-top: 2em;
}

#teaser-search input {
    background-color: #f0f0f0;
    font-size: 150%;
    border-color: #c70038;
    border-width: 0.1em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    padding: 0.2em 0.5em;
}

/* Paginate pager */
.pager_curpage {
    background-color: #000;
    color: #fff;
    padding: 0.1em 0.3em;
}

.pager_link {
    background-color: #eee;
    padding: 0.1em 0.3em;
}

/* jQuery autocomplete plugin */
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /*
     if width will be 100% horizontal scrollbar will apear
     when scroll mode will be used
     */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /*
     it is very important, if line-height not setted or setted
     in relative units scroll will be broken in firefox
     */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('/images/spinner.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}

/* Description in package autocompletion in second line of each result */
.ac_descr {
    font-size: 80%;
    /*font-style: italic;*/
}

/* Screenshot thumbnails */
.screenshot {
    border: 1px solid #c0c0c0;
    /*float: left;*/
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}

.screenshots {
    clear: both;
}

/* jQuery jGrowl plugin */
div.jGrowl {
    padding: 10px;
    z-index: 9999;
}

/** Normal Style Positions **/
body > div.jGrowl {
    position: fixed;
}

body > div.jGrowl.top-left {
    left: 0px;
    top: 0px;
}

body > div.jGrowl.top-right {
    right: 0px;
    top: 0px;
}

body > div.jGrowl.bottom-left {
    left: 0px;
    bottom: 0px;
}

body > div.jGrowl.bottom-right {
    right: 0px;
    bottom: 0px;
}

body > div.jGrowl.center {
    top: 0px;
    width: 50%;
    left: 25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
    margin-left: auto;
    margin-right: auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
    background-color: #d0d0d0;
    border: 2px solid #c70036;
    /*color: 					#000;*/
    opacity: .85;
    filter: alpha(opacity = 85);
    zoom: 1;
    width: 235px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.jGrowl div.jGrowl-notification {
    min-height: 40px;
}

div.jGrowl div.jGrowl-notification div.header {
    font-weight: bold;
    font-size: 10px;
}

div.jGrowl div.jGrowl-notification div.close {
    float: right;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

div.jGrowl div.jGrowl-closer {
    height: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

/* jQuery tooltip plugin */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #eee;
    padding: 5px;
    opacity: 0.85;
}

#tooltip h3, #tooltip div {
    margin: 0;
}

.textcenter {
    text-align: center;
}

.imgcaption {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
}

.smaller {
    font-size: 80%;
}

#debtags-area {
    /*border: 1px solid #000;*/
}

#debtags-facets {
    float: left;
    width: 250px;
    text-align: right;
}

#debtags-facets div {
    background-color: #f0f0f0;
    padding-right: 1em;
    cursor: pointer;
}

#debtags-facets div.selected {
    background-color: #000;
    color: #f0f0f0;
    font-weight: bolder;
}

#debtags-facets div:hover {
    background-color: #aaa;
}

#tags-box div {
    padding: 0.2em 1em;
    float: left;
    cursor: pointer;
    white-space: nowrap;
}

#admin-warning {
    width: 100%;
    border: 2px dashed red;
    text-align: center;
}
