#upload-slide { 
display: block;
position: absolute;
top: 0px;
left: 0px;
padding: 0px;
}

#header,
#recommender-box {
height: 40px;
}

#submit-button {
height: 42px;
}

#tip-upload {
top: 40px;
width: 420px;
}

#panel-controls label .tip,
#controls-form label .tip {
display: none;
position: absolute;
width: 200px;
margin-top: -30px;
right: 160px;
font-size: 11px;
font-weight: normal;
color: #000000;
}

#panel-controls label:hover .tip,
#controls-form label:hover .tip { 
display: block; 
z-index: 3;
}

#controls-form label#tip-finish .tip {
margin-top: -50px;
left: 90px;
}

#controls-form label#tip-continue .tip {
margin-top: -80px;
right: -60px;
}

.innertube {
margin: 30px;
}

.coda-slider {
background: none;
height: auto;
}

#wrap {
max-width: 780px;
}

#sidebar {
min-height: 200px; 
}

body.survey #wrap {
padding-top: 0px;
min-height: 400px;
position: relative;
}

/* Display None itens Survey */
#coda-nav-left-1,
#coda-nav-right-1,
body.survey #header,
body.survey #footer,
#recommender-box #upfile,
#advanced-button,
#pkgs_list {
display: none;
}

.screenshot {
float: left;
border: 1px solid black;
margin: 5px;
}

.screenshot:hover {
box-shadow: 0 1px 4px gray;
}

.content-pkg ul li {
margin-bottom: 10px;
}

.radioButton,
#start-button,
#next-button,
#restart-button,
#continue-button,
#finish-button {
border: 1px solid #888a85;
box-shadow: 0 1px 4px gray inset;
border-radius: 5px;
color: #585C60;
font-size: 12px;
font-weight: 600;
width: 150px;
height: 30px;
line-height: 14px;
margin: 0;
margin-left: 10px;
padding: 5px;
z-index: 2;
cursor: pointer;
}

#continue-button {
float: right;
}

#next-button:hover,
#controls-form input:hover {
background: white;
}

.radioButton {
border: 1px solid transparent;
box-shadow: none;
background: none;
text-align: left;
vertical-align: middle;
width: 150px;
height: 20px;
margin-bottom: 10px;
font-size: 12px;
font-weight: 600;
line-height: 14px;
margin: 0;
margin-left: 10px;
padding: 5px;
z-index: 2;
cursor: pointer;
}

#panel-controls {
position: relative; 
width: 200px;
height: 80px;
padding: 5px;
margin: 5px;
border-radius: 5px;
border: 1px solid #888a85;
box-shadow: 0 1px 4px gray inset;
background: white;
float: right;
}

.panel-wrapper {
font-size: 0.8em;
line-height: 1.4;
}

#panel-controls legend {
font-weight: bold;
}

#next-button {
text-align: center;
position: absolute;
top: 50px;
right: 68px;
width: 60px;
height: 16px;
float: right;
z-index: 3;
}

#controls-form {
position: absolute;
top: 150px;
width: 600px;
margin-right: auto;
margin-left: auto;
text-align: center;
height: 20px;
z-index: 3;
}

#title_pkg {
font-weight: bold;
}

#title_pkg span {
color: gray;
font-style:italic;
font-weight: normal;
font-size: 0.8em;
}

#optionalform {
width: 400px;
padding: 10px;
float: none;
}

#optionalform label {
font-weight: bold;
text-align: right;
}

#optionalform textarea,
#optionalform input.text {
border: 1px solid #888a85;
border-radius: 5px;
box-shadow: 0 1px 4px gray inset;
background: white;
width: 340px;
height: 20px;
}

#optionalform textarea {
width: 390px;
height: 50px;
text-align: left;
}

#optionalform textarea:hover,
#optionalform input:hover.text {
border: 1px solid #000;
box-shadow: 0 1px 4px gray;
}

#optionalform .text-left {
text-align: left;
}
