#upload-slide { 
display: block;
position: absolute;
top: 0px;
left: 0px;
padding: 0px;
}

#header,
#recommender-box {
height: 40px;
}

#submit-button {
height: 42px;
}

#tip-upload {
top: 40px;
width: 420px;
}

#tip-bar,
#tip-finish,
#tip-strategy .tip {
display: none;
position: absolute;
top: 15px;
width: 250px;
right: 0px;
font-size: 11px;
font-weight: normal;
color: #000000;
}

a:hover #tip-bar,
a:hover #tip-finish,
#tip-strategy:hover .tip { display: block; background-color: white; }


.innertube {
margin: 30px;
}

.coda-slider {
background: none;
}

.coda-slider-wrapper {
clear: none;
}

body.survey #wrap {
padding-top: 0px;
min-height: 450px;
}

/* Display None itens Survey */
#coda-nav-left-1,
body.survey #header,
#recommender-box #upfile,
#advanced-button,
#copyright span,
#navbar,
#pkgs_list {
display: none;
}

.screenshot {
float: right;
margin: 5px;
}

.content-pkg {
overflow: auto;
display: block;
height: 250px;
min-height: 250px;
}

.content-pkg ul { 
list-style: none;
}

.content-pkg ul li {
margin-bottom: 10px;
}

#bar-button,
#strategy-button,
#finish-button {
border: 1px solid #888a85;
box-shadow: 0 1px 4px gray inset;
border-radius: 5px;
color: #585C60;
font-size: 12px;
font-weight: 600;
width: 135px;
height: 30px;
line-height: 14px;
margin: 0;
margin-left: 10px;
padding: 5px;
z-index: 2;
cursor: pointer;
}

#panel-controls,
#controls-form { 
float: right; 
position: relative;
}


/*
 * Package Box
 */

#title_pkg {
font-weight: bold;
}

#title_pkg span {
color: gray;
font-style:italic;
font-weight: normal;
font-size: 0.8em;
}

#debtags_box { 
display: block;
float: right;
width: 150px;
font-size: 0.8em;
}

#debtags_box h2 {
font-weight: bold;
}

#debtags_pkg ul { 
padding: 3px;
}

#debtags_pkg li { 
font-weight: bold;
cursor: pointer;
}

#debtags_pkg li ul li { 
font-weight: normal;
margin-left: 5px;
border-left: 1px solid white;
border-bottom: 1px solid white;
cursor: pointer;
}

#debresources_box { 
float: left;
margin-top: 20px;
}

#debresources_box li {
margin-bottom: 4px;
}

/* Details BOX */

#details_box {
margin-top: 50px;
padding: 20px;
font-size: 0.8;
color: #545454;
}

#details_box h2 {
margin: -5px 0 15px 0px;
color: #000;
}

#details_box li {
margin-bottom: 10px;
}


