
/*
 * Tabs on sidebar
 */

#list-tabs { 
list-style: none;
height: 20px;
width: 100%;
padding:0;
margin:0;
}

#list-tabs li { 
display: inline;
}

#list-tabs li a { 
color: #545454;
float: left; 
display: block;
font-size: 0.8em;
padding: 4px 10px; 
margin-left: -1px; 
position: relative; 
left: 1px; 
text-decoration: none;
text-transform: uppercase;
box-shadow: 0 0 5px #dfdfdf;
border-left: 1px solid #dfdfdf;
}

#list-tabs li a:hover { 
box-shadow: 0 0 5px #545454 inset;
color: #000;
}

#tab-area { 
margin: 0 0 120px 0; 
}

#tab-wrap { 
position: relative;
min-height: 250px;
width: auto;
}

li.tab-one a,
#tab-one {
background: #FFFFFF;
}

li.tab-two a,
#tab-two {
background: #F5F5F5;
}

li.tab-three a,
#tab-three {
background: #F0F0F0;
}

#tab-area .tabs { 
padding: 10px; 
min-height: 450px; 
position: absolute; 
top: -1px; 
left: 0; 
width: 320px;
}

#tab-three, #tab-two { display: none; }

#tab-three:target, #tab-two:target, #tab-one:target { 
z-index: 1; 
display: block; 
box-shadow: 0 0 5px #dfdfdf;
border-left: 1px solid #dfdfdf;
border-bottom: 1px solid #dfdfdf;
border-radius: 0px 5px 5px 5px;
}



