
/*
 * Tabs on sidebar
 */

#list-tabs { 
list-style: none;
height: 20px;
width: 100%;
padding:0;
margin:0;
}

#list-tabs li { 
display: inline;
}

#list-tabs li a { 
color: black; 
float: left; 
display: block;
font-size: 0.8em;
padding: 4px 10px; 
margin-left: -1px; 
position: relative; 
left: 1px; 
text-decoration: none;
text-transform: uppercase;
}

#list-tabs li a:hover { 
background: #ccc; 
}

#tab-area { 
margin: 0 0 120px 0; 
}

#tab-wrap { 
position: relative;
min-height: 250px;
width: auto;
}

#tab-area .tabs { 
padding: 10px; 
min-height: 450px; 
position: absolute; 
top: -1px; 
left: 0; 
width: 250px; 
background: white;
}

#tab-area .tabs, #list-tabs li a { 
border: 1px solid #ccc; 
}

#tab-three, #tab-two { display: none; }

#tab-three:target, #tab-two:target, #tab-one:target { z-index: 1; display: block; }



