/* CSS Document */
button {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
background:#F6F6F6 none repeat scroll 0 0;
border:1px solid #CCCCCC;
cursor:pointer;
float:left; margin-left:10px;
height:2.0833em;
overflow:visible;
padding:0 0.5em;
vertical-align:middle;
white-space:nowrap;
}

.like_button{background:url(/static/images/yes-dis.JPG) center left no-repeat; padding-left:18px;}
.like_button:hover{
	background:url(/static/images/yes-enb.JPG) center left no-repeat;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.dislike_button{background:url(/static/images/no-dis.JPG) center center no-repeat; padding-left:18px;}

.dislike_button:hover, .dislike_button:visited{
	background:url(/static/images/no-enb.JPG) center center no-repeat;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.tooltip{ height:13px;display: none;width:120px; text-align:left;overflow:visible;opacity:0.7;filter:alpha(opacity=40)}
.tooltip2{ height:13px;display: none;width:140px; text-align:right; overflow:visible;opacity:0.7;filter:alpha(opacity=20)}
.tooltip3{ height:13px;display: none;width:200px; text-align:right; overflow:visible;opacity:0.7;filter:alpha(opacity=40)}



.ilikethis, .idislikethis, .totalstats{
		display: none;
		font-size: 1.0em;
		height:17px;
		padding:7px;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
		text-align: center;
		text-decoration: none;
		width:60px;
		background-color:#333333;
		color:#FFFFFF;
		text-shadow: #fff 0px 0px 20px;
	}
	
.totalstatsbutton{ width:80px; vertical-align:top;background:#F6F6F6 none repeat scroll 0 0;}
.totalstatsbutton .greenBar{background-color:#DDDDDD;  height:5px; margin-bottom:3px; height:6px;}		
.totalstatsbutton .redbar{background-color:#DDDDDD;  height:5px; height:6px;}		


#voting_result{ border:solid #666666 1px; height:120px; margin-top:19px;-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; width:500px; margin-left:12px; display:none
		}
.mesgbox{ background:url(/static/images/tick.gif) top left no-repeat; padding-left:25px;  margin:5px;font-family:Arial, Helvetica, sans-serif; font-size:12px; height:20px;  width:427px; float:left}
.close{ border:solid #666666 1px; float:left; width:20px; margin-top:6px;-webkit-border-radius: 4px;-moz-border-radius: 4px;  text-align:center; font-size:12px; cursor:pointer}

.bigGreenBar{background-color:#AADA37;  height:5px; margin-bottom:3px; height:11px; margin-top:7px; margin-left:10px;}		
.bigRedBar{background-color:#CF362F;   height:5px; margin-bottom:3px; height:11px; margin-top:7px; margin-left:10px;}

.thumbUp{ background:url(/static/images/yes-dis.JPG) center left no-repeat;height:25px; margin-top:5px; margin-left:20px; padding-left:28px}
.thumbDown{ background:url(/static/images/no-dis.JPG) center left no-repeat;height:25px; margin-left:20px; padding-left:28px}
.thumbUp div{ float:left; font-size:12px; }
.thumbDown div{ float:left; font-size:12px; }





