$var title: CustomSearch
$var mod = 'custom';
$var cssfiles:
$var jsfiles:

<div id="maincontent">
<div class="innertube">


<div class="textbox">
<h1>Search Custom</h1>

<form action="apprec" enctype="multipart/form-data" method="post" name="weboptions">
	<fieldset>
		<legend>Your packages</legend>
		<div>
			<label>Upload file</label><input type="file" id="pkgs_file" name="pkgs_file" size="18"/>
		</div>
		<div>
			<label>Packages list</label><textarea rows="2" cols="33" name="pkgs_list" id="pkgs_list"></textarea>
		</div>
	</fieldset>
		<fieldset>
    			<legend>General</legend>
                        <div>
                            <label><input type="hidden">Profile size:</label>
                        </div>
			<div>
			    <label class="special"><input type="text" name="profile_size" value="10" size="4"></label>
			</div>
                        <div>
                            <label><input type="hidden">Recommendations:</label>
                        </div>
			<div>
		            <label class="special"><input type="text" name="limit" value="10" size="4"></label>
			</div>
                        <div>
                            <label><input type="hidden">Weighting:</label>
                        </div>
			<div>
    			    <label class="special"><input type="radio" name="weight" value="BM25" checked> BM25</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="weight" value="trad"> Traditional</label>
			</div>
                        <div>
                            <label><input type="hidden">Strategy:</label>
                        </div>
			<div>
    			    <label class="special"><input type="radio" name="strategy" value="content" checked> Content-based</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="strategy" value="collab"> Collaborative</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="strategy" value="hybrid"> Hybrid</label>
			</div>
		</fieldset>
		<fieldset>
    			<legend>Tuning up</legend>
			<div>
			    <label><input type="hidden" class="DEPENDS ON strategy BEING content OR strategy BEING hybrid">Content representation:</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="content" value="tag" class="DEPENDS ON strategy BEING content OR strategy BEING hybrid"> tag</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="content" value="desc" class="DEPENDS ON strategy BEING content OR strategy BEING hybrid"> description</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="content" value="full" class="DEPENDS ON strategy BEING content OR strategy BEING hybrid"> both</label>
			</div>
			<div>
			    <label><input type="hidden" class="DEPENDS ON strategy BEING collab OR strategy BEING hybrid">Clustering:</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="cluster" value="yes" class="DEPENDS ON strategy BEING collab OR strategy BEING hybrid"> yes</label>
			</div>
			<div>
    			    <label class="special"><input type="radio" name="cluster" value="no" class="DEPENDS ON strategy BEING collab OR strategy BEING hybrid"> no</label>
			</div>
			<div>
			    <label><input type="hidden" class="DEPENDS ON strategy BEING hybrid">Neighborhood:</label>
			</div>
			<div>
    			    <label class="special"><input type="text" name="neighbours" class="DEPENDS ON strategy BEING hybrid" value="50" size="4"></label>
			</div>
			<div>
			    <label><input type="hidden" class="DEPENDS ON strategy BEING hybrid">Personal profile:</label>
			</div>
			<div>
                        <label class=special><input type="checkbox" name="profile_desktop" class="DEPENDS ON strategy BEING hybrid" > Desktop</label>
			</div>
			<div>
                        <label class=special><input type="checkbox" name="profile_admin" class="DEPENDS ON strategy BEING hybrid" > Admin</label>
			</div>
			<div>
                        <label class=special><input type="checkbox" name="profile_devel" class="DEPENDS ON strategy BEING hybrid" > Devel</label>
			</div>
			<div>
                        <label class=special><input type="checkbox" name="profile_science" class="DEPENDS ON strategy BEING hybrid" > Science</label>
			</div>
			<div>
                        <label class=special><input type="checkbox" name="profile_arts" class="DEPENDS ON strategy BEING hybrid" > Arts</label>
			</div>
		</fieldset>

		<div class="align-right"><input type="submit"></div>
	</form>

</div>


</div>
</div>
