$var title: About
$var mod = 'about';
$var cssfiles:
$var jsfiles:

<div id="maincontent">
<div class="innertube">

<img style="float: right;" alt="AppRecommender logo" src="/static/images/logo.png" width="150px" />

<h1>About</h1>

<p>This experiment aims to compare and validate automated application
recommendations produced by various strategies and algorithms tunnings. We
believe that real users evaluation regarding the relevance of recommendations is
the most accurate data source for computing recommender system effectiveness.</p>
<br />
<p>The engine that is being tested is a free software called <a
href="http://github.com/tassia/AppRecommender">AppRecommender</a>. It was
initially developed using the Debian Project infrasctructure, but the solution
is essentially distro-independent and could even be adapted to non GNU/Linux
systems given that there was available data for that.</p>

</div><!-- id="innertube" -->
</div><!-- id="maincontent" -->
