$def with (recommends, pkg_summaries, form, request)
$var title: Feedback
$var mod = 'feedback';
$var cssfiles: static/css/apprec.css static/css/facebox.css static/css/voting.css
$var jsfiles: static/js/facebox.js

<script type="application/x-javascript">
$$(document).ready(function() {
        $$('a[rel*=facebox]').facebox({
        loadingImage : '/static/images/loading.gif',
        closeImage   : '/static/images/closelabel.png'
        });

        $$('.like_button').mouseenter(function(e) {
                $$('.tooltip').show();
                $$('.ilikethis').fadeIn(200);
        }).mouseleave(function(e) {
                $$('.ilikethis').fadeOut(200);
                $$('.tooltip').hide();
        });
        $$('.dislike_button').mouseenter(function(e) {
                $$('.tooltip2').show();
                $$('.idislikethis').fadeIn(200);
        }).mouseleave(function(e) {
           $$('.tooltip2').hide();
                $$('.idislikethis').fadeOut(200);
        });
        
        $$('.totalstatsbutton').livequery("mouseenter", function(e){
                $$('.greenBar').css("background-color","#AADA37");
                $$('.redbar').css("background-color","#CF362F");
                $$('.tooltip3').show();
                $$('.totalstats').fadeIn(200);
        }).livequery("mouseleave", function(e){
                $$('.tooltip3').hide();
                $$('.greenBar').css("background-color","#DDDDDD");
                $$('.redbar').css("background-color","#DDDDDD");
                $$('.totalstats').fadeOut(200);
        });

});
</script>


<div id="sidebar">
<div class="innertube">

<div id="details_box" class="graybox align-left vert-grad">
<h2>Recommendation strategy details</h2>
        <ul class="toc">
	$for key, value in request.get_details().items():

        <li><b>$key:</b> $value</li>

</div>

</div><!-- class="innertube" -->
<br style="clear: both">
</div><!-- id="sidebar" -->

<div id="maincontent">
<div class="innertube">

<h1>Recomendation</h1>

<form action="/thanks" method="post" enctype="multipart/form-data">

<div id="result-thumbnail">
$for strategy, result in recommends.items():
    <!--<h2><a name="$strategy" id="$strategy">$strategy</a></h2>-->
    $ count = 0
    $for pkg in result:
        $ count = count + 1
        <div class="item">
          <h3><a href="package/$pkg" rel="facebox" title="General information for package $pkg">$pkg</a></h3>
           <a class="link-thumb" rel="facebox" href="http://screenshots.debian.net/screenshot/$pkg?.jpg" title="Screenshot of package $pkg">
            <img src="http://screenshots.debian.net/thumbnail/$pkg" alt="Screenshot $pkg" />
           </a>
         <p class="thumb-caption"><a href="package/$pkg" rel="facebox" title="General information for package $pkg"> $pkg_summaries[pkg] </a></p>
        </div>
        $if count == 5:
            $ count = 0

</div><!-- id="result-thumbnail" -->
</form>

</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->
