$def with (error_msgs)
$var title: Error
$var mod = 'error';
$var cssfiles: static/css/facebox.css 
$var jsfiles: static/js/facebox.js


<div id="maincontent">
<div class="innertube">


<div class="index_include">
<center>
    <h1>Welcome to AppRecommender</h1>
</center>

Your request could not be proccessed due to the following error(s):

<div class="warning">
<p><ul>
$for e in error_msgs:
    <b><li>$e</li></b>
</ul></p>
</div>

<p><a href="/">Go back</a> and try again. If you believe it is a bug, please report to <a
href="mailto:tassia@gamil.com">tassia@gmail.com</a>.</p>

</div>

</div><!-- id="innertube" -->
</div><!-- id="maincontent" -->
