$var title: Error
$var mod = 'error';
$var cssfiles: static/css/facebox.css static/css/facebox.css static/css/survey.css
$var jsfiles: static/js/facebox.js


<div id="maincontent">
<div class="innertube">

<center>
<div class="index_include">
    <h1>AppRecommender Survey</h1>
<p>Unfortunately your request could not be proccessed.</p>
<p>Please report this error along with the submitted <br />file to <a href="mailto:tassia@gamil.com">tassia@gmail.com</a>.</p>
</center>

</div>

</div><!-- id="innertube" -->
</div><!-- id="maincontent" -->
