$def with (action, method, recommends, form)
$var title: Feedback
$var mod = 'feedback';

        <div class="index_include">


<center>
                <h1>Recommendations</h1>
</center>

<p>Results per strategy:</p>

<ul class="toc">
$for strategy, result in recommends.items():
    <li><a href="#$strategy">$strategy</a></li>
<li><a href="#feedback">Your feedback is appreciated!</a></li>
</ul>

<form action="$action" method="$method">
$for strategy, result in recommends.items():
    <h2><a name="$strategy" id="$strategy">$strategy</a></h2>
    $for pkg in result:
        <div class="line">
        <div class="item col50">
        <image src="http://screenshots.debian.net/screenshot/$pkg" width="300">
        </div>
        <div class="item col50 lastcol">
	<script>loadPackage("$pkg");</script>
	<b id="pack-$pkg"></b><div id="desc-$pkg"> </div>
	<ul>
	<li id="maint-$pkg"></li>
	<li id="homepage-$pkg"></li>
	</ul>
        </div>
        <div class="clear"></div>
        </div>
    <hr />

<h2><a name="feedback" id="feedback">Feedback</a></h2>

$if not form.valid: <p>Try again, AmeriCAN:</p>
$:form.render()
<br />
<input type="submit" />
</form>


</div>

