$def with (action, method, form)
$var title: Home
$var mod = 'index';

<div class="graybox">
    <h1>What is this?</h1>
<p>AppRecommender is a project in development that aims to provide solutions
for application recommendation at the GNU/Linux world. It was initially thought
as a Debian package recommender, but considering the multi-distro effort in
providing platform independent solutions, it should also follow this
principle.</p>
</div>

<div class="align-right"><img alt="AppRecommender logo" src="/static/images/AppRecommender-logo.jpg" width="320" /></div>

<form action="$action" enctype="multipart/form-data" method="$method">
$:form.render()
<br />
<input type="submit" />
</form>
</table>
