$var title: Survey
$var url_base: /survey/
$var action: START
$var mod = 'index';
$var cssfiles: static/css/survey.css
$var jsfiles: 

<!-- Dynamic form -->
<script type="application/x-javascript">
window.onload = function() {
    setupDependencies('weboptions'); //name of form(s). Seperate each with a comma (ie: 'weboptions', 'myotherform' )
  };
</script>

<div id="maincontent">
<div class="innertube">

<div class="textbox">
<h1>AppRecommender Survey</h1>
<h2>Help us learn your needs</h2>

<p>Participate in this survey and contribute for the development of
<a href="http://github.com/tassia/AppRecommender">AppRecommender</a>,
a recommender system for GNU/Linux applications.</p><br />
  <p align="justify"> Given a list of packages installed in a real
  running system, a set of applications will be suggested for it. 
  Upload a popularity-contest submission file (usually located at
  '/var/log/popularity-contest') or run the following command and
  upload the generated 'packages.list' file.</p><br />
  <p><code> # dpkg-query --show > packages.list </code></p>
</div>

</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->


