$def with (content)
$ url_base = "http://localhost:8080/"

<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        AppRecommender - $content.title
    </title>

        <link href="/static/css/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/static/css/local.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/static/css/thickbox.css" media="screen" rel="stylesheet" type="text/css" />

        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/jquery.autocomplete.js" type="text/javascript"></script>
        <script src="/static/js/jquery.flyout.js" type="text/javascript"></script>
        <script src="/static/js/jquery.jgrowl.js" type="text/javascript"></script>
        <script src="/static/js/jquery.tooltip.js" type="text/javascript"></script>
        <script src="/static/js/jquery.cycle.js" type="text/javascript"></script>
        <script src="/static/js/handlers.js" type="text/javascript"></script>
        <script src="/static/js/local.js" type="text/javascript"></script>

        <script type="text/javascript" src="/static/js/thickbox.js"></script>

<!--
	<link rel="stylesheet" href="/static/cluetip/jquery.cluetip.css" type="text/css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
	<script src="/static/cluetip/lib/jquery.hoverIntent.js" type="text/javascript"></script>
	<script src="/static/cluetip/lib/jquery.bgiframe.min.js" type="text/javascript"></script>
	<script src="/static/cluetip/jquery.cluetip.js" type="text/javascript"></script>

	<script type="text/javascript">
	$$(document).ready(function() {
	  $$('a.tips').cluetip();

	  $$('#houdini').cluetip({
	    splitTitle: '|', // use the invoking element's title attribute to populate the clueTip...
	                     // ...and split the contents into separate divs where there is a "|"
	    showTitle: false // hide the clueTip's heading
	  });
	});
	</script>
-->

    <link rel="shortcut icon" type="image/x-icon" href="$url_base/favicon.png">

  <body>
    <div id="page">
      <div id="header">
          <h1>AppRecommender</h1>
      </div>

      <div id="nav">
          <a href="$url_base">Home</a>
          |
          <a href="http://www.ime.usp.br/~tassia/apprec.html">About</a>
          |
          <a href="http://github.com/tassia/AppRecommender">Devel</a>
      </div>

      <div id="maincontent">


$:content


    <div id="footer">
        <a href="http://apprec.debian.net/about">About apprec.debian.net</a>
    </div>


<div style="display: none;" id="tooltip"><h3></h3><div class="body"></div><div class="url"></div></div></body></html>
