$def with (recommends, pkg_details, form, request)
$var title: Survey
$var mod = 'survey';
$var cssfiles: static/coda-slider-2.0/stylesheets/coda-slider-2.0.css static/css/survey.css
$var jsfiles: static/coda-slider-2.0/javascripts/jquery-1.3.2.min.js static/coda-slider-2.0/javascripts/jquery.coda-slider-2.0.js static/coda-slider-2.0/javascripts/jquery.easing.1.3.js


<!-- survey slides -->
<script type="text/javascript">
    $$().ready(function() {
                $$('#coda-slider-1').codaSlider({dynamicTabs: false, dynamicArrowLeftText: "&#171;", dynamicArrowRightText:"next &#187;" });
    });
</script>


<div id="maincontent">
<div class="innertube">

<h1>AppRecommender Survey</h1>

<form action="/thanks" method="post" enctype="multipart/form-data" name="surveyform">

<div class="coda-slider-wrapper">
	<div class="coda-slider preload" id="coda-slider-1">
$for pkg in pkg_details:
            <div class="panel">
            	<div class="panel-wrapper">
			<h1>$pkg['package']</h1>
			<span>$pkg['description']</span><br />
			<input type="checkbox" name="good-$pkg['package']" /> Good <br />
			<input type="checkbox" name="surprise-$pkg['package']" /> Surprise
            		<p>
			    <li><b>Description</b>: <br />$:pkg['long_description']</li>
			    $if pkg['homepage']:
			        <li><b>Homepage</b>:<a href="$pkg['homepage']">$pkg['homepage']</a></li>
			    $if pkg['task']:
			        <li><b>Tasks</b>: $pkg['task']</li>
			    <li><b>Section</b>: $pkg['section']</li>
			    $if pkg['recommends']:
			        <li><b>Recommends</b>: $pkg['recommends']</li>
			    $if pkg['suggests']:
			        <li><b>Suggests</b>: $pkg['suggests']</li>
			    $if pkg['origin']:
			        <li><b>Origin</b>: $pkg['origin']</li>
			    <li><b>Maintainer</b>: $pkg['maintainer']</li>
			  </ul>
			</p>
            	</div>
            </div>
</div><!-- .coda-slider -->
</div><!-- .coda-slider-wrapper -->

<input id="conclude-button" type="submit" value="Conclude" />

</form>


</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->
