$def with (pkgs_details, user_id, strategy, remaining)
$var title: Survey
$var url_base: /survey/
$var action: START
$var mod = 'survey';
$var cssfiles: static/coda-slider-2.0/stylesheets/coda-slider-2.0.css static/css/facebox.css static/css/survey.css
$var jsfiles: /static/coda-slider-2.0/javascripts/jquery-1.3.2.min.js /static/coda-slider-2.0/javascripts/jquery.coda-slider-2.0.js /static/coda-slider-2.0/javascripts/jquery.easing.1.3.js /static/js/facebox.js

<script type="text/javascript">
    $$(document).ready(function() {
        $$("input[type=radio]").click(function () {
        $$("#coda-nav-right-1").show("fast");
        });

        $$('a[rel*=facebox]').facebox({
        loadingImage : '/static/images/loading.gif',
        closeImage   : '/static/images/closelabel.png'
        });
        $$('#coda-slider-1').codaSlider({dynamicTabs: false, dynamicArrowLeftText: "L", dynamicArrowRightText:"Next" });
    });
</script>


<div id="maincontent">
<div class="innertube">

<h1>AppRecommender survey</h1>

<div class="show-end" style="display: none;">

<p align="justify">
If you have any comments regarding this set of suggestions, please write in the
form below. There are <b>$(remaining-1) remaining</b> recommendation strategies to be evaluated.
Choose <i>Continue</i> if you can perform one more round of evaluations, or
<i>Finish</i> to conclude your participation.
</p>

</div>

<form action="save" method="post" enctype="multipart/form-data" name="surveyform">

<input type="hidden" name="user_id" value=$user_id>
<input type="hidden" name="strategy" value=$strategy>
<input type="hidden" name="remaining" value=$remaining>

<div style="display: none; width: 400px; margin-left: 150px; margin-top: 10px;" class="show-end"><!-- display show in the end form -->
<p align="center">
<label for="comments">
    <b>Comments</b><br />
    <textarea name="comments" value="" rows="4" cols="48"></textarea> <br />
</label>
</p>
<label for="finish_button">
   <input id="finish-button" name="finish_button" type="submit" value="Finish" class="glass" />
</label>
<label for="continue_button">
   <input id="continue-button" name="continue_button" type="submit" value="Continue" class="glass" />
</label>
</div><!-- id="controls-form" -->

<div class="coda-slider-wrapper hide-end">
	<div class="coda-slider preload" id="coda-slider-1">
            <h5 style="float: right;"><b>How do you evaluate this recommendation?</b></h5> <br />
$for pkg in pkgs_details:
            <div class="panel">
		     	<div id="panel-controls" class="glass">
		   <fieldset>
			<label class="radioButton">
			<input class="radio" type="radio" name="evaluation-$(pkgs_details.index(pkg))" value="poor" />
			Poor
			</label><br />
			<label class="radioButton">
			<input class="radio" type="radio" name="evaluation-$(pkgs_details.index(pkg))" value="redundant" />
			Redundant
			</label><br />
       			<label class="radioButton">
			<input class="radio" type="radio" name="evaluation-$pkgs_details.index(pkg)" value="useful" />
			Useful
			</label><br />
			<label class="radioButton">
			<input class="radio" type="radio" name="evaluation-$pkgs_details.index(pkg)" value="surprising" />
			Pleasantly surprising
			</label>
		   </fieldset>
			<br style="clear: both;" />
		     	</div><!-- #panel-controls -->
            	<div class="panel-wrapper">
		    <div class="screenshot">
			<a class="link-thumb" rel="facebox" 
			href="http://screenshots.debian.net/screenshot/$pkg.name?.jpg" 
			title="Click to enlarge screenshot of package $pkg.name" alt="Click to enlarge screenshot">
			<img height="80" src="http://screenshots.debian.net/thumbnail/$pkg.name" 
			alt="Screenshot $pkg.name" /></a>
		    </div><!-- screenshot -->
			<h1 id="title_pkg"> $pkg.name <span>($(pkgs_details.index(pkg)+1)/$len(pkgs_details))</span> <br />
			<span>$pkg.summary</span></h1> <br />
            		<div class="content-pkg">
                $if hasattr(pkg,'description'):
    			    <pre>$:pkg.description</pre>
                <ul>
                $if hasattr(pkg,'maintainer'):
    			    <li><pre> Maintained by $:pkg.maintainer</pre></li>
                $if hasattr(pkg,'homepage'):
    			    <li><pre> Homepage: $:pkg.homepage</pre></li>
                </ul>
			</div><!-- id="content-pkg" -->
            	</div><!-- .panel-wrapper -->
            </div><!-- .panel -->
</div><!-- .coda-slider -->
</div><!-- .coda-slider-wrapper -->

</form>

</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->

