$var title: Survey
$var mod = 'index';
$var cssfiles: static/css/survey.css
$var jsfiles: 


<!-- Dynamic form -->
<script type="application/x-javascript">
window.onload = function() {
    setupDependencies('weboptions'); //name of form(s). Seperate each with a comma (ie: 'weboptions', 'myotherform' )
  };
</script>

<div id="maincontent">
<div class="innertube">

<div class="textbox">
<h1>Help us learn your needs</h1>

<p>Participate in this survey and contribute for the development of
AppRecommender, a recommender system for GNU/Linux applications.</p>
<br />
<p>Please provide the list of packages installed in a real running system
(instructions above) and evaluate the list of applications suggested for it.
You need to analyse at least 10 sugestions to be considered in the survey,
though we appreciate if you do as many as you can.</p>
<br />
<p>Your help is very much appreciated!</p>
<!--
(Caixinha com intruções)
<p> Instructions: if you have popularity-contest package installed, upload your
popcon submission file, usually located at '/var/log/popularity-contest'.
Otherwise run the following command and upload the 'packages_list' file: ``dpkg -l > packages_list''.</p>
-->
</div>

</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->


