<div id="tab-area">
  <ul id="list-tabs">
    <li class="tab-one"><a href="#tab-one">Top 5</a></li>
    <li class="tab-two"><a href="#tab-two">Recents</a></li>
    <li class="tab-three"><a href="#tab-three">DebTags</a></li>
  </ul>
 <div id="tab-wrap">

 <div id="tab-three" class="tabs">

    <h2>Browse by debtags</h2>
<!-- DEB TAG INITIAL -->
    <ul id="debtags-facets">
        <li id="facet-0" onclick="showtags(0)">Accessibility Support</li>
        <li id="facet-1" onclick="showtags(1)">Application Suite</li>
        <li id="facet-2" onclick="showtags(2)">Biology</li>
        <li id="facet-3" onclick="showtags(3)">Electronic Mail</li>
        <li id="facet-4" onclick="showtags(4)">Field</li>
        <li id="facet-5" onclick="showtags(5)">Games and Amusement</li>
        <li id="facet-6" onclick="showtags(6)">Hardware Enablement</li>
        <li id="facet-7" onclick="showtags(7)">Implemented in</li>
        <li id="facet-8" onclick="showtags(8)">Interface Toolkit</li>
        <li id="facet-9" onclick="showtags(9)">Junior Applications</li>
        <li id="facet-10" onclick="showtags(10)">Made Of</li>
        <li id="facet-11" onclick="showtags(11)">Network Protocol</li>
        <li id="facet-12" onclick="showtags(12)">Networking</li>
        <li id="facet-13" onclick="showtags(13)">Office and business</li>
        <li id="facet-14" onclick="showtags(14)">Purpose</li>
        <li id="facet-15" onclick="showtags(15)">Role</li>
        <li id="facet-16" onclick="showtags(16)">Science</li>
        <li id="facet-17" onclick="showtags(17)">Security</li>
        <li id="facet-18" onclick="showtags(18)">Software Development</li>
        <li id="facet-19" onclick="showtags(19)">Sound and Music</li>
        <li id="facet-20" onclick="showtags(20)">Supports Format</li>
        <li id="facet-21" onclick="showtags(21)">System Administration</li>
        <li id="facet-22" onclick="showtags(22)">User Interface</li>
        <li id="facet-23" onclick="showtags(23)">Works with</li>
        <li id="facet-24" onclick="showtags(24)">World Wide Web</li>
        <li id="facet-25" onclick="showtags(25)">X Window System</li>
    </ul>
<!-- DEB TAG END -->

 </div><!-- id="box-three" -->

 <div id="tab-two" class="tabs">

<h2>Atualizados recentemente</h2>
   <ul>
      <li><a href="#">Recents...1</a></li>
      <li><a href="#">Recents...2</a></li>
      <li><a href="#">Recents...3</a></li>
      <li><a href="#">Recents...4</a></li>
      <li><a href="#">Recents...5</a></li>
      <li><a href="#">Recents...6</a></li>
      <li><a href="#">Recents...7</a></li>
      <li><a href="#">Recents...8</a></li>
      <li><a href="#">Recents...9</a></li>
      <li><a href="#">Recents...10</a></li>
    </ul>

 </div><!-- id="box-two" -->

  <div id="tab-one" class="tabs">

<h2>Os mais usados</h2>
    <ul>
      <li><a href="#">Lista...1</a></li>
      <li><a href="#">Lista...2</a></li>
      <li><a href="#">Lista...3</a></li>
      <li><a href="#">Lista...4</a></li>
      <li><a href="#">Lista...5</a></li>
    </ul>
   <a href="#">Listar todos nessa ordem</a>
   
<h2>Os mais votados</h2>
    <ul>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
    </ul>
   <a href="#">Listar todos nessa ordem</a>
   
<h2>Os mais pesquisados</h2>
    <ul>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
      <li><a href="#">Lista...</a></li>
    </ul>
   <a href="#">Listar todos nessa ordem</a>
   
 </div> <!-- id="tab-one" -->

 </div><!-- id="tab-wrap" -->
</div><!-- id="tab-area" -->
