$def with (user_id)
$var url_base: /survey/
$var action: START
$var title: Thanks
$var mod = 'thanks';
$var cssfiles: static/css/survey.css

<style> 
#header { display: none; } 
#wrap { padding-top: 0px; }
</style><!-- hidden top bar upload -->

<div id="maincontent">
<div class="innertube">

<h1>AppRecommender Survey</h1>
<p>Thank you very much for participating in this survey!</p>
<p>Last but not least, we'd like to have your personal identification to mention
your name in our thanks page. The awareness of your installation habits would
make our report more informative and, finally, we appreciate general comments
regarding this survey and/or the recommendations you got.</p>

<div style="margin-left:150px;" id="optionalform">
<center>
<form action="thanks" method="post" enctype="multipart/form-data" name="identification_form">
<div style="text-align: left;">
  <p><label style="margin-left: 7px">Admin's habit</label>
  <fieldset style="margin-left: 20px">
    <input type=radio class=radio name="user_habits" value="1">I rarely install new applications.<br />
    <input type=radio class=radio name="user_habits" value="2">I only install when I get a trusted recommendation.<br />
    <input type=radio class=radio name="user_habits" value="3">I actively seek for new applications.<br />
    <input type=radio class=radio name="user_habits" value="0">I would rather not comment on that.<br />
  </fieldset>
  </p>
</div>
  <p>
  <label>
  <input type="hidden" name="user_id" value=$user_id>
  Name <input class="text" type="text" name="name" value="" size="40">
  </label></p>
  <p>
  <label>
  E-mail <input class="text" type="text" name="email" value="" size="40">
  </label></p>
  <p>
  <label style="align:left">
  General comments or suggestions<br />
  <textarea name="comments" value="" rows="2" cols="50"></textarea>
  </label></p>
  <p><input type="submit" name="send_button" value="Submit" class="glass" id="finish-button"><p>
</form>

<div><!-- optionalform -->
</center>


<br style="clear: both" />
</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->

