$def with (user_id)
$var url_base: /survey/
$var action: START
$var title: Thanks
$var mod = 'thanks';
$var cssfiles: static/css/survey.css

<style> 
#header { display: none; } 
#wrap { padding-top: 0px; }
</style><!-- hidden top bar upload -->

<div id="maincontent">
<div class="innertube">

<h1>AppRecommender Survey</h1>
<p>Thank you very much for participating in this survey, you help is very much
appreciated! Identify yourself if you want to be mentioned in our thanks page
and final report.
</p><br />

<div style="margin-left:150px;" id="optionalform">
<center>
<form action="thanks" method="post" enctype="multipart/form-data" name="identification_form">
  <p>
  <label>
  <input type="hidden" name="user_id" value=$user_id>
  Name <input class="text" type="text" name="name" value="" size="40">
  </label></p>
  <p>
  <label>
  E-mail <input class="text" type="text" name="email" value="" size="40">
  </label></p>
  <p>
  <label style="align:left">
  General comments or suggestions<br />
  <textarea name="comments" value="" rows="2" cols="50"></textarea>
  </label></p>
  <p><input type="submit" name="send_button" value="Submit" class="glass" id="finish-button"><p>
</form>

<div><!-- optionalform -->
</center>


<br style="clear: both" />
</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->

