$var title: Feedback
$var mod = 'thanks';
$var cssfiles: static/css/survey.css


<div id="sidebar">
<div class="innertube">

<h2>Identification</h2>
	<form>
	<p><label>
	<input type="checkbox" name="public" value="checked">
	Can we publish your name in our thanks page?
	</label></p>
	<p>
	<label>
	Name: <input type="text" name="name" value="" size="30">
	</label></p>
	<p>
	<label>
	E-mail:<input type="text" name="email" value="" size="30">
	</label></p>
	<p>
	<label>
	Country:<input type="text" name="country" value="" size="30">
	</label></p>
	<p>
	<label>
	Comments:<br />
	<textarea name="comments" value="" rows="2" cols="30"></textarea>
	</label></p>
	<p align="right">
	<input type="submit" name="send_button" value="Submit" class="glass" id="finish-button">
	</p>
	</form>

<br style="clear: both" />
</div><!-- class="innertube" -->
</div><!-- id="sidebar" -->

<div id="maincontent">
<div class="innertube">

<center>
<h1>Thanks!</h1>
</center>
<p>Thank you very much for participating in this survey.</p><br />
<p>Your identification is not mandatory, though if you provide a valid e-mail
address you'll be sent the survey results report as soon as it is released. If
you have any further comments, please send it through the form below.</p><br />


</div><!-- class="innertube" -->
</div><!-- id="maincontent" -->

